  <!--Logo start-->
<section class="my-lg-9 my-5">
<div class="container">
	<div class="row border-top border-bottom">
		<div class="col-lg-4 col-md-4 col-12 border-end-md border-bottom border-bottom-md-0">
			<div class="text-center p-5">
			<img src="https://hj5v68xn.media.zestyio.com/award-logo-1.svg" alt="award" class />
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-12 border-end-md border-bottom border-bottom-md-0">
			<div class="text-center p-5">
			<img src="https://hj5v68xn.media.zestyio.com/award-logo-2.svg" alt="award" class />
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-12">
			<div class="text-center p-5">
			<img src="https://hj5v68xn.media.zestyio.com/award-logo-3.svg" alt="award" class />
			</div>
		</div>
	</div>
</div>
</section>
<!--Logo end-->